<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
        <title>Welcome page</title>
    </head>
    <body>
        <h1 class="h1 text-center">Welcome to Risk Management Demo</h1>
        <div class="form-row align-items-center">
            <div class="col-3">

            </div>
            <div class="col-3 mx-auto">
                <a href="{{ url_for('login_page') }}">
                    <input type="button" value="Start" class="btn btn-primary">
                </a>
            </div>
        </div>
    </body>
</html>